body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background: url('RADHA/bgimg.jpg') no-repeat center center fixed;
    background-size: cover;
}

.container {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8); /* semi-transparent background */
    padding: 20px;
    border-radius: 10px;
}

.counter {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.circle {
    position: relative;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    background-color: #007bff;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.circle img {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    cursor: pointer;
}

.click-text {
    position: absolute;
    color: white;
    font-size: 1.5em;
    font-weight: bold;
    z-index: 1;
}

.info {
    margin-bottom: 20px;
}

.upload {
    margin-top: 10px;
}

#imageUpload {
    display: none;
}

.upload label {
    background-color: #007bff;
    color: white;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}
